@font-face {
    font-family: Awasete;
    src: url('assets/fonts/awasete_powder.ttf') format('truetype');
}

body {
  font-family: 'Awasete', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  margin-bottom: 100px;
  overflow: hidden;
}

h3 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  letter-spacing: 2px;
}

p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin: 5px;
}

a {
  font-size: 12px;
  margin: 5px;
}

a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.image-container, .gif-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.image-container img, .gif-container img {
  max-width: 100%;
  height: auto;
}

.sidebar {
  position: relative;
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#game-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

#phaser-game{
  border: 1px solid #222222
}

#game-description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
}

.button-container-parent {
  border: 0px solid #444444;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 600;
}

.button-container {
  margin: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);

  justify-content: center;
  align-items: center;
}

.gba-button {
  width: 75px;
  height: 75px;

  background-color: #222222;
  border: 2px solid #cccccc;

  font-size: 36px;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center; /* Add this line to center the font */
}


#space.gba-button {
  width: 200px;
  height: 75px;
}

/* Hover effect */
.gba-button:hover {
  background-color: #444444;
}

/* Click effect */
.gba-button:active {
  background-color: #666666;
}

.hidden {
  font-size: 0;
  visibility: hidden;
}
